---
const hireIndex = "/hire/";
const pageTitle = 'Limelight Event Services | Hire';
const pageDesc = 'Limelight Event Services, Inverness, Scotland | Products for hire';
import BaseLayout from '../../layouts/BaseLayout.astro';
import HireHero from '../../components/HireHero.astro';
import { Image } from 'astro:assets';

const response = await fetch('https://graphql.datocms.com/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `query {
      page(filter: {pageName: {eq: "Hire"}}) {
          pageName
          sections {
            ... on ProductRecord {
              _modelApiKey
              name
              slug
              priceDaily
              priceWeekly
              description
              image {
                url
              }
              category
            }
          }
        }
      }
    `,
  }),
});

const json = await response.json();
const hirePageData = json.data.page;
const sections = hirePageData.sections;
---

<style>

  .product-container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  @media screen and (min-width: 600px) {
    .product-container {
      flex-flow: row wrap;
    }
  }

  .product {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
  }
  @media screen and (min-width: 600px) and (max-width: 899px) {
      .product {
        width: 47%;
      }
  }
  @media screen and (min-width: 900px) and (max-width: 1199px) {
      .product {
        width: 31%;
      }
  }
  @media screen and (min-width: 1200px) {
      .product {
        width: 22%;
      }
  }

  .product-text {
    width: auto;
    min-height: 250px;
    padding: 30px;
    background: #dddddd;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .product-text h3 {
    margin: 0 0 15px 0;
  }
  .product img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>

<BaseLayout pageTitle={pageTitle} pageDesc={pageDesc}>
  <HireHero />
  <section class="centered-1260">
    <div class="product-container">
        {sections.map((section:any) => {
        switch(section._modelApiKey) { // _modelApiKey = 'product'
        case 'product': 
        return <>
                <section class="product scroll-reveal animate fadeInBottom">
                  <Image src={section.image.url} alt={section.name} width='440' height='225' />
                  <div class="product-text">
                    <h3>{section.name}</h3>
                    <p>{section.priceDaily} <br/> {section.priceWeekly}</p>
                    <p>Category: {section.category}</p>
                    <a href={hireIndex + section.slug} class="standard-button-link">Product Details</a>
                  </div>
                </section>
              </> 
            }
        })}
      </div>
  </section>
</BaseLayout>

<!-- {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)} -->

<script>
  import '../../scripts/IntersectionObserver.js';
</script>